footer
    h4 App desarrollada por Sergio L.
        a(href="https://github.com/SergioLM7" target="_blank")
            img(src="/assets/git-hub-icon.jpeg" target="_blank" class='icon')
    p @copyright 2024 - This site is not endorsed by or affiliated with IMDb.com.